In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
file_path = 'C:\\Users\\juyou\\Desktop\\pandas_test\\data_csv\\시험점수.csv'
scores = pd.read_csv(file_path, encoding='cp949')

In [7]:
def AddOne(x):
    x += 1
    return x

In [9]:
sc_1 = scores[(scores['국어']>=70) & (scores['성별']=='남자') & (scores['학년']==3)]
print(len(sc_1))
sc_1

12

    이름  성별  학년  반   국어   수학  영어  사회   과학
41  성민  남자   3  1  100   65  75  45  100
44  동현  남자   3  1   75   40  80  85   70
51  지훈  남자   3  2   70  100  75  85   70
52  성민  남자   3  2   75   80  85  80   85
54  준호  남자   3  2   85   70  90  70   75
60  민준  남자   3  1   90   75  80  70   60
62  현우  남자   3  1   70  100  75  70   65
63  준서  남자   3  1   80   75  70  40   80
64  우진  남자   3  1   75   65  65  80   60
72  서준  남자   3  2   70   70  75  70   65
73  시우  남자   3  2   80   65  80  70   75
74  민준  남자   3  2   95   85  75  70   70

In [11]:
sc_1_add = sc_1['국어'].apply(AddOne)
sc_1_add

41    101
44     76
51     71
52     76
54     86
60     91
62     71
63     81
64     76
72     71
73     81
74     96
Name: 국어, dtype: int64

In [12]:
sc_1_kor = sc_1['국어']

### 9) lambda
cf) javascript arrow func

In [13]:
sc_1_lambda = sc_1['국어'].apply(lambda x : x + 5)
sc_1_lambda

41    105
44     80
51     75
52     80
54     90
60     95
62     75
63     85
64     80
72     75
73     85
74    100
Name: 국어, dtype: int64